@charset "UTF-8";

// My theme's config settings.
$su-image-path: '~decanter/core/src/img';
$fa-font-path:  '~@fortawesome/fontawesome-free/webfonts';

// Import Decanter Library:
@import 'decanter/core/src/scss/decanter-no-markup';

#levin {
  font-family: 'Source Serif 4';
  font-size: 7.5rem;
}

#inauguration-date {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

#save-the-date {
  color:  #8C1515;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.arch-banner-image {
  @media(min-width: 768px) {
    background: url("../assets/arch-banner.jpg") no-repeat center;
    background-size: cover;
  }
  background: url("../assets/arch-banner-small.jpg") no-repeat center;
  background-size: cover;
}
